.season-cards-container {
    display: flex;
    overflow: auto;
    width: 50vw;
}

.season-card {
    min-width: 15em;
    height: 12em;
    padding: 10px;
    text-align: center;
    img {
        width: 10em;
        height: 8em;
    }
}