.season-cards-container {
    display: flex;
    overflow: scroll;
    width: 30em;
    height: 20em;
    scroll-snap-type: x mandatory;
}

.season-card {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 30em;
    height: 15em;
    text-align: center;
    img {
        width: 15em;
        height: 10em;
    }
    h3 {
        margin-top: 0;
    }
}