.season-cards-container {
    display: flex;
    overflow-x: scroll;
    width: 22em;
    height: 20em;
    scroll-snap-type: x mandatory;
}

.season-card {
    scroll-snap-align: center;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 22em;
    height: 19em;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 1em;
    img {
        width: 15em;
        height: 10em;
    }
    h3 {
        margin: 0 0 10px 0;
    }
    p {
        margin: 0;
    }
}