.main {
    height: 90vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}
.reason-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    align-self: flex-start;
}