.main {
    height: 90vh;
    display: flex;
    justify-self: center;
    /* grid-template-columns: repeat(3,1fr); */
    /* margin: 10px; */
}
.reason-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* height: 30vh; */
    width: 50em;
    /* align-self: flex-start; */
}
.eat-fruit-season-wrapper{
    width: 50%;
    .eat-fruit-section {
        height: 40%;
        .main-header-wrapper {
            width: 16em;
        }
    }
}
.search-reason-wrapper{
    width: 50%;
}