.detail-page {
    display: flex;
    padding: 1.5em;
    background-color: #b1d1d5;
    h2, h3{
        margin: 0;
    }
    h3 {
        font-size: 2.4em;
        margin: 0 0 20px 0;
    }
    h1 {
        margin: 10px 0 20px 0;
        width: 75%;
        text-align: center;
        line-height: 1.2;
    }
    .detail-wrapper {
        width: 50%;
       .detail-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 85%;
        height: 88.5%;
        background-color:  rgba(58, 171, 209,0.3);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        padding: 1em;
       }
        .detail-image {
            width: 30em;
            height: 22.5em;
            /* border: 1px solid white; */
            img {
                width: 100%;
                aspect-ratio: 4/3;
            }
        }
        .favorite-icon-container, .not-favorite-icon-container{
            width: 12%;
            height: 12%;
            top: 3%;
            left: 85%;
            background-repeat: no-repeat;
            background-position: center;
        }

    }
    .all-info-wrapper {
        width: 50%;
        .info-wrapper {
            background-color:  rgba(58, 171, 209,0.3);
            backdrop-filter: blur(20px);
            border-radius: 10px;
            padding: 1em;
            margin-bottom: 2em;
        }
    }
}
@media only screen and (max-width:75em) {
    .detail-page {
        flex-direction: column;
    }
    .detail-wrapper {
        height: 570px;
    }
    .detail-wrapper,.all-info-wrapper {
        min-width: 650px;
    }
    .all-info-wrapper {
        transform: translateY(10%)
    }
}