.query-result {
    width: 28em;
    overflow: auto;
    max-height: 25em;
    .result-card {
        display: flex;
        padding: .5em;
        height: 5em;
        width: 25em;
        border-radius: 10px;
        .fruit-img {
            aspect-ratio: 4/3;
            width: 5em;
        }
        .fruit-info {
            margin-left: 2em;
            font-size: 1.2em;
            line-height: 1.2;
        }
        p {
            margin: 0 0 0 0em;
            color: black;
        }
    }
}
.search-link:hover {
    p {
        color: var(--main-color);
    }
    .result-card {
        background-color: lightgrey;
    }
}
.error-msg {
    text-align: center;
    font-size: 1.4em;
}

.nutrition-text {
    color: black;
    font-weight: 500;
}
.low-nutrition, .high-nutrition{
    color: var(--main-color);
    font-weight: 600;
}
.error-path-message {
    margin-left: 3em;
}
