.fruit-info-page {
    display: flex;
    justify-content: space-evenly;
    h3 {
        text-align: center;
    }
}
.fruit-log-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    /* width: 27%; */
    margin-top: 1em;
    height: fit-content;
    h3 {
        margin: 0;
    }

}
.log-fruit-container {
    height: 17em;
}

.daily-section {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    position: relative;
    h3 {
        margin: 0;
    }
    .daily-fruit {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        height: 3.1em;
        width: 20em;
        p {
            width: 8em;
            font-size: 1.15em;
            line-height: 1.2;
        }
        span {
            width: 2em;
            font-size: 1.15em;
            margin-right: 4em;
        }
        background-color: rgba(128,33,78,0.5);
        border-radius: 10px;
    }
    .log-date {
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 0;
    }
    .lbtn-1, .rbtn-1 {
        font-size: 1.35em;
        position: absolute;
        top: 55%;
        padding: .25em .5em;
    }
    .rbtn-1 {
      left: 75%;
    }
    .lbtn-1 {
      right: 75%;
    }
}
.daily-fruit-container {
    background-color: rgba(128,33,78,0.5);
}
.daily-fruit-container,.daily-fruit-container-open {
    display: flex;
    flex-direction: column;
    min-width: 22em; 
    min-height: 25em; 
    height: 35em;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    align-items: center;
    margin-top: 2em;
}
.daily-fruit-container-open {
    background-color: rgba(128,33,78,0.5);
}
.daily-nutrition-days-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    h3 {
        margin: 0;
        width: max-content;
    }
}
.nutrition-log-container {
    display: flex;
    flex-direction: column;
    min-width: 22em; /*18*/
    min-height: 25em; /*20*/
    height: 35em;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255,204,51,.7);
    margin-top: 5em;
    padding: 1em;
    max-height: 35em;
    overflow: auto;
    overflow-x: hidden;
    .fruit-log {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        height: 3.5em;
        width: 20em;
        p {
            width: 12em;
            font-size: 1.15em;
        }
        background-color: rgb(255,204,51);
        border-radius: 10px;
    }
}

input#amount {
    min-width: 3em;
    width: fit-content;
    padding-left: .5em;
    border: 3px transparent;
}
input#amount:not(:in-range) {
    border: 3px solid #e84688
}

input#amount, select#unit, #add-fruit-btn {
    margin-bottom: 10px;
}
.card-btn {
    padding: .25em .5em;
    margin: 0;
    font-size: 1.2em;
}

#log-edit-btn {
    margin-right: 10px;
}

.nutrition-breakdown {
    width: 100%;
    /* height: 17em; */
    margin: 0;
    border: none;
    border-top: 1px solid black;
    h4 {
        font-size: 1.4em;
        margin: 1em 0 1em 0;
    }
    
}
.nutrition-log:nth-child(1) {
    margin-top: 10px;
}
.nutrition-log {
    margin: 0;
    line-height: 1.5;
}
@media only screen and (max-width: 1050px) {
    .fruit-info-page {
        flex-direction: column;
        align-items: center;
    }
    .fruit-log-container {
        width: 100%;
        align-items: center;
        justify-content: center;
        place-items: center;
    }
    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    i {
        width: 65%;
        text-align: center;
    }
}
